h2{
  font-family: 'Dancing Script', cursive;
  font-weight: 10px;
  color: #9d0404;
}

.wordLabel{
  display: flex;
  flex-direction: row; 
  margin: 20px;
  padding: 20px;
  border: 20px;
  height: 20px;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
} 

.lbl_word{
  display: flex;
  flex-direction: row; 
  margin: 10px ;
  padding: 16px ;
  border: 10px;
  height: 10px;
  width: 10px;
  border: 10px;
  border-style: solid; border-width: 1px;
  border-color: #008CBA;
  background:  #cdecff;
}

.input_word {
  padding: 16px;
  border-style: solid; border-width: 1px;
  border-color: #008CBA;
  background:  #cdecff;
  }